* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat";
}

h1, h2 {
    font-family: "Open Sans";
}

.navbar {
    background-color: #4CB963;
    font-family: "Montserrat";
    padding: auto 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li {
    display: inline-block;
    padding: 10px;
    font-weight: 600;
    font-size: 1em;
}

.navbar li:hover {
    opacity: 0.5;
    background-color: aquamarine;
}

.navbar button {
    margin-right: 15px;
    padding: 5px;
    color: black;
    font-size: 1em;
    font-weight: 600;
    font-family: "Montserrat";
    border-radius: 10%;
}

.navbar button a {
    color: black;
}

.logo {
    padding: 2px;
    width: 150px;
    height: auto;
}

li a {
    color: black;
    margin-right: 5px;
}

li h1 {
    color: black;
}
.content {
    font-family: "Montserrat";
}

.contact-us {
    font-family: "Montserrat";
    font-weight: 500;
    margin: 2em 0;
    padding: 1em 2em;
    border: 2px solid black;
    min-width: 200px;
    text-align: center;
    border-radius: 4px;
    width: 50%;
    margin: auto;
}

.contact-us input, .contact-us select, .contact-us textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.heading {
    width: 50%;
    font-size: 0.8em;

    margin: auto;
    text-align: center;
}

label {
    display: block;
    margin-top: 1em;
}

label:last-of-type{
    width: 100%;

}

input[type="checkbox"] {
    width: unset;
}

.sample {
    width: 50%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;

}

.ac-theory {
    text-align: center;
    margin: auto;
}

.imgone, .imgtwo, .imgthree, .imgfour, .imgfive, .imgsix {
    padding: 25px;
}

.sample img {
    width: 300px;
    height: auto;
}

.about-us {
    width: 75%;
    margin: auto;
}

.about-us h1 {
    text-align: center;
}

.about-us p, .about-us ul, .about-us ol {
    text-align: justify;
    width: 50%;
    margin: 15px auto;
}
